@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  --red: #ff0055;
}
* {
  box-sizing: border-box;
}
.animates {
  animation: spin 7s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.Overlay {
  @apply bg-black/40 fixed bottom-0 top-0 left-0 right-0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  transform-origin: 0%;
  z-index: 999999;
}

html {
  scroll-behavior: smooth;
}
